.nav {
    max-width: 1000px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: #fff;
    z-index: 2;

    &__logout {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}
